.info {
    position: absolute;
    top: 20%;
    font-size: 1vw;
    @media only screen and (max-width: 900px) {
        font-size:12px;
        top:50%;
      }
}
.supi {
    width:100%;
    position:absolute;
    top:20%;
}
.sup {
    display: none;
    width: 100%;
  }
  
  
  @media only screen and (max-width: 900px) {
    .sup {
      display: block;
      width: 100%;
    }
  }
  
.capitulos {
    position: absolute;
   left: 50%;
   top:100%;
    text-align: center;
    color: orange;
    @media only screen and (max-width: 900px) {
        left: 35%;
      }
}
.dragon2 {
    font-size: 3.5rem;
  }
.temporadas {
    position: absolute;
    text-align: center;
   left: 30%;
   top:100%;
    color: rgb(202, 92, 2);
    @media only screen and (max-width: 900px) {
        top:115%;
        margin-top:70px;
      }
}
.infos {
    width: 60%;
    height: 60%;
    @media only screen and (max-width: 900px) {
        width: 100%;
      }
}
.imagenass {
    position: fixed;
    right:10px;
    top:10%;
    height: 100%;
    width: 30%;
    @media only screen and (max-width: 600px) {
        display: none;
    }
} 
.something {
    height: 100%;
    width:100%;
}
